@page "/client/update"


<div class="container">
    <div class="row">
        <div class="card shadow-lg mb-4 rounded-3">
            <h5 class="card-header bg-white">Crear Cliente</h5>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="alert alert-warning" role="alert">
                            Los campos marcados con <strong class="text-danger"> * </strong> son requeridos.
                        </div>
                    </div>
                </div>
                <div class="row  gx-5">

                    <div class="col-lg-6">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control text-uppercase" id="floatingSecondName" placeholder="segundo nombre">
                            <label class="text-black-50 fst-italic" for="floatingSecondName">Segundo Nombre</label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control text-uppercase" id="floatingSecondName" placeholder="segundo nombre">
                            <label class="text-black-50 fst-italic" for="floatingSecondName">Segundo Nombre</label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control text-uppercase" id="floatingSecondName" placeholder="segundo nombre">
                            <label class="text-black-50 fst-italic" for="floatingSecondName">Segundo Nombre</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="button" class="btn btn-outline-success shadow  mb-2 rounded-3"> <i class="bi bi-sd-card-fill"> </i> Guardar</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


@code {

}
